/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 déc. 2019, 09:21:24
    Author     : camilleclaret
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color:  #EFEFEF;
}


h1{
    text-align: center;
    color:#666666;
    font-size: 60px;
}

h2{
    text-align: center;
    color:#666666;
    font-size: 40px;
}

a#connexion{
    text-align: justify;
    float: right;
    padding: 5px;
    border: 3px solid #666666;
    color:#666666;
}

form#login{
    margin: 10% 30%;
    padding: 50px;
    border: 3px solid #666666;
    color:#666666;
    font-size: 40px;
}

input#valide{
    float: right;
    font-size: 20px;
    border: 4px solid;
    border-radius: 4px;
}

table{
    margin: auto;
    column-width: 100px;
    border-color: #666666;
    border-collapse: collapse;
}
table th {
    padding: 8px;
    width: 20%;
    border-width: 6px;
    border-color: #666666;
    border-style: solid;
}

table td {
    padding: 8px;
    border-width: 6px;
    border-color: #666666;
    border-style: solid;
}

